{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="{% static 'images/deenn.png' %}" alt="">
                    </div>
                    <h2 class="name">Lawal Abideen Abayomi</h2>
                    <p class="career">Software Developer</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                           08100341151
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            abideenlawal70@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            www.hashnode/deenn
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i>
                            www.facebook.com/Habideen Habayomi
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                            @_deenn__
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Mareri, Quarters, Gusau
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Java</p>
                            <div class="progress-bar">
                                <div class="progress j-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Node js</p>
                            <div class="progress-bar">
                                <div class="progress n-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">html/css</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Girigisu S</h6>
                        <p class="sub-para">Senior Lecturer</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                07038336717
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                summiteducation2004@yahoo.com
                            </li>
                        </ul>
                    </div>

        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        I am software developer from Nigeria seeking an opportunity with a fast-growing startup.<br>
                       
                    </p>
                </section>

                <section class="experince sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Zuri</h5>
                            <p class="para">2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Intern</h5>
                                <p class="para">
                                    Work in a team to provide an alternate means of voting for nigeria both home and
                                    abroad.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Equiment Maintenace  and Development Center, ABU,zaria</h5>
                            <p class="para">2019 - 2020</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">IT STUDENT</h5>
                                <p class="para">
                                    •Asists the Engineers while going for maintenance within
Ahmadu Bello University laboratories. <br>
•Help with troubleshooting of faulty apparatus like Centrifuge and
Microscope
                                </p>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="education sect">
                    <h2 class="right-title">education</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Faith Nursery and Primary School, Igboho</h5>
                            <p class="para">2003-2007 </p>

                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Primary School Leaving Certificate</h5>
                                <p class="para">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Faith Immaculate Academy, Igboho</h5>
                            <p class="para">2007- 2013</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Secondary School Leaving Certificate(WAEC)</h5>
                                <p class="para">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Ahamdu Bello University, zaria</h5>
                            <p class="para">2015 - 2019</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">PHysics</h5>
                                <p class="para">
                                    Graduate top of 3 of the class with a CGPA of 4.36
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="awards sect">
                    <h2 class="right-title">Awards</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">NAPS</h5>
                            <p class="para">June 2019</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Award of Honour</h5>
                                <p class="para">
                                   •I was awarded a certificate of honour for my outstanding contributions
                                    selfless and meritorious service as the Secretary-General..
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Physics Department</h5>
                            <p class="para">2019</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Best Secretery General</h5>
                                <p class="para">
                                    •Elected president the following year in an election known as the toughest
                                    election in the history of the department.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <div class="container-form">
        <h3>{{ name }}</h3>
        <form action="" method="POST" class="contact-form">
            {% csrf_token%}
            <div class="form-control">
                <div class="tag">Full Name</div>
                <input type="text" name="full-name" id="">
            </div>
            <div class="form-control">
                <div class="tag">Email</div>
                <input type="text" name="email" id="">
            </div>
            <div class="form-control">
                <div class="tag">Subject</div>
                <input type="text" name="subject" id="">
            </div>
            <div class="form-control">
                <div class="tag">Message</div>
               <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-controls">
                <input type="Submit"  class="submit-btn" value= "Send Message"name="message" id="">
            </div>
        </form>
    </div>
</body>
</html>